
html{
    scroll-behavior: smooth;
}

*{
    box-sizing: border-box;
}

/*HERO-SECTION*/

.hero-section{
    background: url("../images/hero-1.jpg");
    background-size: cover;
    color: #fff;
}

.hero-section:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #004bc8;
    opacity: .8;
}
.btn-info{
    background-color:  #448df1f5;
    border: none;
}
.btn-info:hover{
    background-color: #091529 ;
    
}
.card{
    border:1px solid #002563 ;
}

/* info-section */
.i-info-box{
    text-align: center;
}
.i-info-box img{
    width: 85px;
    height: 85px;
    background-color: #fff;
    margin: auto;
    margin-bottom: 30px;
}
/* Selling-section */

.sell-box img{
    width: 85px;
    height: 85px;
    margin: auto;
    margin-bottom: 30px;
}


/***FAQ-SECTION***/

.accrodian .accrodian-btn {
    display: block;
    padding: 14px;
    width: 100%;
    font-size: 16px;
    margin-top: 5px;
    border: none;
    text-align: left;
    padding-left: 30px;
    background: #efefef61;
}

.accrodian .accrodian-btn:focus {
    outline: none;
    outline: 0;
}

.accrodian .accrodian-btn:hover {
    background: #1c2855;
    color: #fff;
}

.accrodian .accrodian-content {
    max-height: 0;
    visibility: hidden;
    overflow: hidden;
    border: 1px solid #DDD;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    border: none;
}

.accrodian-content.active {
    visibility: visible;
    display: block;
    max-height: 500px;
    padding: 20px;
    margin: auto;
    background-color: #fff;
}

.faq-heading {
    text-align: center;
    margin-bottom: 20px;
}

.faq-devider {
    height: 5px;
    width: 100px;
    margin: auto;
    background: #1c2855;
    margin-bottom: 20px;
}

/******ABOUT******/
/****About-hero-section****/
.about-hero{
    background: url("../images/about_hero.jpg");
    background-size: cover;
}
.about-hero:before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #124292e6;
    opacity: 0.8;
}
/*Strong Team Section*/
.divider{
    width: 8px;
    height: 61px;
    background-color: #002563;
    margin-right: 16px;
}
/*Strong Team Section End*/

/****about-banner****/
.about-banner{
    background: url("../images/about-banner.jpg");
    background-size: cover;
}

/*Gallery-Section*/
.gallery-divider{
    width: 100px;
    height: 8px;
    background-color: #002563;
    margin: auto;
}

.gallery-card{
    border: 1px solid #2b72e821;
}
/***FAQ-SECTION-END***/
@media only screen and (max-width: 770px)  {
    .intro-body{
        padding: 0;
    }
}

